/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/dark.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.mat-toolbar {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

ul {
    display: flex;
    flex-direction: row;
}

.li-nav {
    margin: 0.2em;
}